@font-face {
  font-family: 'download';
  font-style: normal;
  font-weight: 100 700;
  src: url('/download.woff2') format('woff2'); /* Adjust the file format if needed */
}

@font-face {
  font-family: 'upload';
  font-style: normal;
  font-weight: 100 700;
  src: url('/upload.woff2') format('woff2'); /* Adjust the file format if needed */
}

.download {
  font-family: 'download';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.upload {
  font-family: 'upload';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}