.playlist-download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playlist-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
  width: 100%;
}

.input-field {
  align-self: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 300px;
}

.download-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .download-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 350px) {
  .download-title {
    font-size: 18px;
  }

  .input-field {
    width: 250px;
  }
}