@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.playlist-container {
  display: flex;
  justify-content: space-between;
}

.playlist-label {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.playlist-name {
  margin-left: 5px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
}

.upload-download {
  align-self: flex-end;
}